
/* --- INITIALISATIONS --- */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --font-title: 'Roboto Condensed', sans-serif;
    --font-subtitle: 'Roboto', sans-serif;
    --font-text: 'Roboto', sans-serif;
    --font-size-h1: 1rem;
    --font-size-title: 2.2rem;
    --font-size-subtitle: 1.6rem;
    --font-size-widget: 1.2rem;
    --font-size-nav: 1rem;
    --font-bol: 700;
    --font-med: 500;
    --font-reg: 400;
    --font-lig: 300;
    --color-dark-blue: #0A314E;
    --color-blue: #003259;
    --color-light-blue: #5B93B3;
    --color-flash-blue: #8BC4E5;
    --color-white: #FEFEFE;
    --color-white-blue: #F4F7F9;
    --color-light-grey: #E7EBEE;
    --color-grey: #D4D8DD;
    --color-dark-grey: #949CA4;
    --border-raduis-general: 4px;
}

/* --- BASE PROPERTY --- */

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font-text);
    color: var(--color-dark-blue);
    background-color: var(--color-white-blue);
}
button{
    border: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    cursor: pointer;
}
button::-moz-focus-inner{
    border: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
main > *:first-child:not(.main-banner){
    margin-top: 230px;
    min-height: calc(100vh - 220px);
}

/* --- CONTAINERS --- */

.container,
.full-container{
    width: 100%;
    max-width: 1200px;
    margin: 120px auto 160px;
    padding: 0px 28px;
}
.grid-cs, .grid-ccs, .grid-scc{
    display: grid;
    gap: 60px;
}
.grid-cs{
    grid-template-columns: repeat(2, 1fr);
}
.grid-ccs{
    grid-template-columns: 1fr auto;
}
.grid-scc{
    grid-template-columns: auto 1fr;
}

/* --- NO SCROLL BAR --- */

.no-scroll-bar::-webkit-scrollbar{
    width: 0 !important;
    height: 0 !important;
    display: none;
    background: transparent;
}
.no-scroll-bar{
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

/* --- SIZE ICON --- */

.bloc-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.bloc-icon svg{
    width: 16px;
    aspect-ratio: 1;
    display: none;
}
.logo-team-s{
    width: 36px;
    height: 36px;
}
.logo-team-m{
    width: 48px;
    height: 48px;
}
.logo-team-l{
    width: 60px;
    height: 60px;
}
.icon-s{
    width: 21px;
    height: 21px;
}
.icon-m{
    width: 25px;
    height: 25px;
}
.icon-l{
    width: 34px;
    height: 34px;
}

/* --- IMAGE PROPERTY --- */

.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-contain{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* --- ENTETE --- */

.entete{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap : 12px;
    border-bottom: solid rgba(10, 49, 78, 0.2) 2px;
    padding: 18px 20px;
}
.entete-icon{
    height: 20px;
}
.entete-title{
    font-family: var(--font-title);
    font-size: 1.3rem;
    font-weight: var(--font-bol);
    text-transform: uppercase;
    line-height: 1.5;
}

/* --- FONT SIZE --- */

.sec-title{
    color: var(--color-dark-blue);
    font-family: var(--font-title);
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 1.5;
}
.title-page{
    margin-bottom: 40px;
}
.widget-title{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: var(--font-title);
    font-weight: var(--font-bol);
}
.widget-icon{
    width: 25px;
    aspect-ratio: 1;
    display: flex;
}

/* --- BTN DROPDOWN ---*/

.dropdown{
    width: 100%;
    height: 58px;
    max-width: 200px;
    border-radius: 5px;
    color: var(--color-dark-blue);
    background: var(--color-light-grey);
    transition: all 0.4s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.btn-drop{
    padding: 18px;
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-white);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-transform: uppercase;
}
.btn-drop img{
    width: 10px
}
.list-drop li {
    list-style-type: none;
    padding: 12px 18px;
    font-size: .95rem;
    text-transform: uppercase;
    cursor: pointer;
}
.list-drop li:hover, .list-drop-active{
    background-color: var(--color-grey);
}
.list-drop li:first-child{
    padding-top: 20px;
}
.list-drop li:last-child{
    padding-bottom: 20px;
}

/* --- CAROUSEL SELECTOR ---*/

.carousel-selector{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin: 40px 0;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--color-grey);
}
.carousel-selector h3{
    font-size: 24px;
    font-weight: var(--font-reg);
    font-family: var(--font-title);
}
.carousel-selector .btn-prev,
.carousel-selector .btn-next{
    padding: 5px 20px;
}
.carousel-selector .btn-next{
    transform: rotate(180deg);
}
.carousel-selector .btn-prev:hover svg path,
.carousel-selector .btn-next:hover svg path{
    fill: var(--color-white);
    transition: fill 0.2s ease-in-out;
}

/* --- HEADER ---*/

header{
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    z-index: 9998;
}

/* | --- HEADER TOP ---*/

.header-top{
    background-color: var(--color-flash-blue);
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
}
.header-link:hover{
    text-decoration: none;
}

.header-title{
    color: var(--color-white-blue);
    font-family: var(--font-title);
    font-weight: var(--font-bol);
    font-size: var(--font-size-h1);
}
.header-burger-icon{
    display: none;
    width: 28px;
    height: 20px;
    position: relative;
}
.header-burger-icon span,
.header-burger-icon::before,
.header-burger-icon::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--color-white);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.header-burger-icon span{
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 90%;
}
.header-burger-icon::before{
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
}
.header-burger-icon::after{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
}
.header-burger-icon.is-active::before{
    transform: rotate(45deg) translate(5px, 5px);
}
.header-burger-icon.is-active::after{
    transform: rotate(-45deg)  translate(7px, -7px);
}

/* | --- HEADER NAV --- */

.header-nav{
    background-color: var(--color-white);
    overflow-wrap: break-word;
}
.header-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav ul > *{
    position: relative;
    list-style: none;
    font-weight: var(--font-reg);
    font-size: var(--font-size-nav);
    text-transform: uppercase;
    flex-shrink: 0;
}
.header-nav ul li a{
    display: block;
    padding: 18px 15px;
    color: var(--color-dark-blue);
    text-decoration: none;
}
.header-nav ul > *:hover{
    background-color: var(--color-light-grey);
}
.header-nav .split-bar{
    display: none;
    height: 1px;
    width: 100%;
    background-color: var(--color-blue);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.2;
}

/* || --- DROPDOWN MENU --- */

.dropdown-menu > a{
    display: flex;
}
.dropdown-link{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dropdown-link a{
    color: var(--color-dark-blue);
    text-decoration: none;
}
.dropdown-link img{
    width: 10px;
}
.dropdown-menu ul{
    display: none;
    box-shadow: inset rgba(33, 35, 38, 0.1) 0px 10px 10px -10px, rgba(0, 0, 0, 0.1) 0px 6px 8px -2px;
    background-color: var(--color-grey);
}
.dropdown-menu:hover ul{
    background-color: var(--color-light-grey);
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 100%;
}
.dropdown-menu ul li{
    width: 100%;
    padding: 0;
    font-size: .9em;
}
.dropdown-menu ul li a{
    padding: 16px 20px;
    display: block;
    width: 100%;
}
.dropdown-menu ul li:hover{
    background-color: var(--color-grey);
}
.dropdown-menu ul li:hover a{
    color: var(--color-dark-blue);
}
.header-nav-active::after{
    background-color: var(--color-flash-blue);
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 3px;
}

/* --- ACTU --- */

.main-home .actu-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

/* | --- ACTU-CLUB --- */

.main-home .actu-club-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 260px);
    gap: 20px;
}
.main-home .actu-club-article{
    background-color: var(--color-grey);
    position: relative;
    width: 100%;
    border-radius: var(--border-raduis-general);
    overflow: hidden;
    min-width: 260px;
}
.main-home .actu-club-article:first-child,
.main-home .actu-club-article:last-child{
    grid-column: span 2;
}
.main-home .actu-club-link{
    display: block;
    height: 100%;
}

.main-home .actu-club-items{
    height: 100%;
    width: 100%;
}
.main-home .actu-club-items-img{
    transition: 0.8s ease-out;
}
.main-home .actu-club-items::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(36,53,77);
    background: linear-gradient(0deg, rgba(36,53,77,0.80) 0%, rgba(36,53,77,0.25) 35%, rgba(36,53,77,0) 100%);
}
.main-home .actu-club-items-title{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px 15px;
    font-size: 1.3rem;
    font-family: var(--font-subtitle);
    font-weight: var(--font-bol);
    color: var(--color-white);
    z-index: 2;
}
.main-home .actu-club-items:hover .actu-club-items-img{
    transform: scale(1.1);
}


/* | --- ACTU-FOOT --- */

.main-home .actu-foot-container{
    width: 100%;
    max-width: 290px;
    height: 540px;
    display: flex;
    flex-direction: column;
}
.main-home .actu-foot-header{
    flex-grow: 0;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 20px 15px;
    background-color: var(--color-light-grey);
    border-radius: 4px 4px 0 0;
}
.main-home .actu-foot-article-container{
    padding: 15px;
    width: 100%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 100%;
    gap: 22px;
    background-color: var(--color-light-grey);
}
.main-home .actu-foot-article{
    width: 100%;
    max-width: 290px;
}
.main-home .actu-foot-article-link{
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.main-home .actu-foot-article-img{
    flex-shrink: 0;
    width: 70px;
    aspect-ratio: 1;
    background-color: var(--color-grey);
    border-radius: 2px;
    overflow: hidden;
}
.main-home .actu-foot-article-info{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-home .actu-foot-article-title{
    color: var(--color-light-blue);
    height: 16px;
    text-transform: uppercase;
    overflow: hidden;
    font-size: .8em;
    font-weight: var(--font-med);
}
.main-home .actu-foot-article-desc{
    height: 30px;
    font-size: .7em;
    color: var(--color-dark-blue);
    overflow: hidden;
    font-weight: var(--font-reg);
}
.main-home .actu-foot-article-date{
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-size: .7em;
    font-weight: var(--font-reg);
}
.main-home .actu-foot-ctc{
    width: 100%;
    background-color: var(--color-light-grey);
    display: flex;
    border-radius: 0 0 4px 4px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px -10px 10px -10px, rgba(0, 0, 0, 0.1) 0px -2px 8px -2px;
    z-index: 3;
}
.main-home .actu-foot-ctc a{
    color: var(--color-dark-blue);
    font-weight: var(--font-med);
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: .7rem;
}

/* --- MAIN RESULTATS --- */

.main-resultat .res-container{
    max-width: 720px;
}

.main-resultat .filter-sidebar{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.filter-sidebar .group-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 10000; */
}

.main-resultat .res-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 15px;
    text-align: center;
}
.main-resultat .res-article-score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: var(--color-light-grey);
    border-radius: 4px;
    margin-bottom: 15px;
}
.main-resultat .res-match{
    flex-shrink: 0;
    background-color: var(--color-white);
    border-radius: 4px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 2px 10px 0px;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: var(--font-size-title);
    padding: 12px 22px;
    transform: translateY(-15px);
}
.main-resultat .logo-team-m{
    flex-shrink: 0;
    transform: scale(1.1) translateY(-15px);
    margin: 0 10px;
}
.main-resultat .team-name{
    width: 130px;
    flex: 0 1 auto;
    padding: 0 10px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: var(--font-size-title);
    flex-shrink: 0;
}
.main-resultat .res-article-score > *:first-child{
    text-align: end;
}
.main-resultat .res-article-score > *:last-child{
    text-align: start;
}
.res-article-info{
    font-size: 1rem;
}

/* --- ARTICLES --- */

.article-container{
    width: 100%;
    max-width: 920px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 80px;
}
.article-entete h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: var(--font-text);
    font-weight: var(--font-bol);
    margin-bottom: 15px;
}
.article-entete p{
    font-size: .9rem;
    color: rgba(36,53,77,0.8);
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: solid rgba(10, 49, 78, 0.2) 2px;
}
.article-text p{
    font-size: 1rem;
    color: rgba(36,53,77,0.8);
}

/* --- ARTICLES FULL --- */

.article-full-img{
    width: 100%;
    height: 100%;
    max-height: 480px;
    overflow: hidden;
    border-radius: 4px;
}

/* --- ARTICLES SLIDER --- */

.main-article-slider .article-container{
    margin-top: 60px;
}

.article-slider{
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: 40%;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}
.article-slider::-webkit-scrollbar {
    height: .6em;
}
.article-slider::-webkit-scrollbar-thumb {
    background: rgba(10, 49, 78, 0.2);
    border: solid .25em transparent;
    border-radius: 100vw;
}
.article-slider-img{
    overflow: hidden;
    border-radius: 4px;
    scroll-snap-align: start;
    height: calc(100% - 10px);
}

/* --- FOOTER --- */

footer{
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    text-transform: uppercase;
}
footer a{
    color: var(--color-white);
    font-size: 1rem;
}
.footer-container{
    width: 100%;
    max-width: 780px;
    padding: 28px;
    margin: 0 auto
}
.footer-container > *{
    padding: 20px 0;
}

/* ---| FOOTER TOP --- */

.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 1px var(--color-white) solid;
}
.footer-top h3{
    font-size: 1.6rem;
    font-family: var(--font-title);
    font-weight: bold;
    letter-spacing: 0.3px;
}
.footer-top .logo-team-s{
    flex-shrink: 0;
}

/* ---| FOOTER NAV --- */

.footer-nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    gap: 60px
}
.footer-nav > *{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px
}
.footer-nav > *:last-child{
    margin: 5px;
    justify-content: space-between;
    align-items: flex-end;
}

/* ---| FOOTER LEGAL --- */

.footer-legal{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.footer-legal > *{
    font-size: 0.8rem;
}

/* --- MEDIA QUERIES --- */

/* | --- LARGE TABLETTE SCREEN --- */

@media screen and (max-width: 993px){

    /* --- HEADER --- */

    .header-top{
        justify-content: space-between;
        padding: 28px;
    }
    .header-link{
        flex-direction: row;
        gap: 20px;
    }
    .header-logo{
        width: 50px;
    }
    .header-title{
        max-width: 150px;
        font-size: 1.1rem;
    }
    .header-burger-icon{
        display: block;
    }
    .header-nav-active::after{
        display: none;
    }

    /* --- HEADER ACTIVE --- */

    .header-nav-active *{
        color: var(--color-flash-blue);
        fill: var(--color-flash-blue)
    }
    .header-nav.is-active{
        left: 0;
    }
    .header-burger-icon.is-active span{
        opacity: 0;
    }
    .header-burger-icon.is-active span{
        opacity: 0;
    }

    /* --- HEADER NAV --- */
    
    .header-nav{
        position: fixed;
        top: 110px;
        left: 100%;
        width: 100%;
        height: calc(100% - 110px);
        overflow-y: scroll;
        padding: 60px 28px;
        transition: all 0.2s ease-in-out;
    }

    .header-nav > ul{
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header-nav ul > li{
        width: 100%;
    }
    .span-after::after{
        content: '';
        
    }
    .dropdown-link{
        justify-content: space-between;
    }
    .dropdown-menu ul{
        display: none;
    }
    .dropdown-menu ul{
        display: none;
    }
    .dropdown-menu:hover ul{
        position: inherit;
        box-shadow: none;
    }
    .dropdown-menu ul li{
        padding: 0;
    }
    .dropdown-menu ul > *:last-child{
        padding-bottom: 5px;
    }
    .header-nav .bloc-icon svg{
        display: block;
    }
    .header-nav .split-bar{
        display: block;
    }

    /* --- BASE PROPERTY --- */

    main > *:first-child:not(.main-banner){
        margin-top: 160px;
    }
    .sec-title{
        font-size: calc(1.2rem + 2vmin);
    }

    /* --- ACTU --- */

    .main-home .actu-container{
        flex-direction: column;
    }
    .main-home .actu-foot-container{
        max-width: inherit;
        height: calc(400px);
    }
    .main-home .actu-foot-article-container{
        grid-template-columns: repeat(3, 1fr);
        overflow-y: hidden;
    }
    .main-home .actu-foot-article{
        flex: 1 0 50%;
    }GI

    /* --- ARTICLES FULL --- */

    .article-full-img{
        height: 60vmin;
    }
}

/* | --- TABLETTE SCREEN --- */

@media screen and (max-width: 780px){

    .main-home .actu-club-article{
        grid-column: span 1!important;
        min-width: inherit;
    }
    .main-home .actu-club-container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .main-home .actu-foot-article-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* --- ARTICLES SLIDER --- */

    .article-slider{
        grid-auto-columns: 70%;
    }

    /* --- FOOTER --- */

    .footer-container{
        max-width: 420px;
    }
    .footer-container > *{
        padding: 30px 0;
    }
    .footer-top h3{
        font-size: 1.4rem;
        max-width: 190px;
    }
    .footer-nav{
        grid-template-columns: 1fr auto;
        gap: 40px
    }
    .footer-nav > *:last-child{
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
}

/* |--- MOBILE SCREEN --- */

@media screen and (max-width: 570px){
    
    .main-home .actu-container{
        gap: 45px;
    }
    .main-home .actu-club-container{
        display: grid;
        gap: 20px;
        grid-template-columns: inherit;
        grid-template-rows: 260px;
        grid-auto-flow: column;
        grid-auto-columns: 80%;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: var(20px, 1rem);
    }
    .main-home .actu-club-container::-webkit-scrollbar {
        height: .6em;
    }
    .main-home .actu-club-container::-webkit-scrollbar-thumb {
        background: rgba(10, 49, 78, 0.2);
        border: solid .25em transparent;
        border-radius: 100vw;
    }
    .main-home .actu-club-article{
        height: calc(100% - 10px);
    }
    .main-home .actu-club-container > *{
        scroll-snap-align: start;
    }
    .main-home .actu-foot-article-container{
        grid-template-columns: 1fr;
    }

    /* --- ARTICLES SLIDER --- */

    .article-slider{
        grid-auto-columns: 80%;
    }

    /* --- FOOTER --- */

    .footer-container{
        max-width: 280px;
    }
    .footer-top h3{
        font-size: 1.2rem;
    }
    .footer-nav{
        grid-template-columns: 1fr;
    }
    .footer-legal{
        justify-content: center;
    }
}